<div class="right-main-column">
    <div class="right-col-container pad-b">

        <div class="body-page-container">
            <div class="container-fluid">

               <div class="row">
                    <div class="col-12">
                        <app-userdetails [item]="'Digital Payments'"></app-userdetails>
                                <div class="row">
                                    <div class="whitecard no-bg">
                                        <div class="center-div">
                                           <div class="row">
                                               <div class="col-12 col-md-12">
                                                 <div class="ux-nav-tabs" style="margin:0">
                                                    <div class="responsive-tab custom-card bg-custom pad-custom2 mar-custom3">
                                                        <div class="custom-width">
                                                            <ul class="nav nav-tabs nav-justified bor-n" role="tablist">
                                                                <li class="nav-item1" *ngFor="let tab of tablist" [ngClass]="activeTabName == tab ? 'active' : ''">
                                                                    <a class="nav-link active" (click)="activetab(tab)" data-toggle="tab"><em>{{tab | uppercase}}</em></a>
                                                                </li>
                                                                <!-- <li class="nav-item1">
                                                                    <a class="nav-link" data-toggle="tab" href="#imps">IMPS</a>
                                                                </li>
                                                                <li class="nav-item1">
                                                                    <a class="nav-link" data-toggle="tab" href="#rtgs">RTGS</a>
                                                                </li>
                                                                <li class="nav-item1">
                                                                    <a class="nav-link" data-toggle="tab" href="#neft">NEFT</a>
                                                                </li> -->
                                                             </ul>
                                                        </div>
                                                    </div>
                                                   </div>
                                                 </div>
                                                 <div class="col-12 col-md-12">
                                                    <div class="tab-content bg-transparent mb-3">
                                                        <div id="upi" class="tab-pane">
                                                            upi   </div>

                                                                 <div id="imps" class="tab-pane active">
                                                                 IMPS
                                                                   </div>
                                                                   <div id="rtgs" class="tab-pane">
                                                                    sfgsad 
                                                                </div>
                                                                <div id="neft" class="tab-pane">
                                                                     asfdasdfasfdasf
                                                                </div>
                                                           </div>
                                                     </div>
                                              </div>
                                        </div> 
                                    </div>
                                </div>
                               
                        </div>

                    </div>
                 
            </div>
         </div>
      
    </div>

    <!--.right-col-container-->

</div>