<div class="right-main-column">
    <div class="right-col-container pad-b">

        <div class="body-page-container">
            <div class="container-fluid">

               <div class="row">
                    <div class="col-12">
                        <app-userdetails [item]="'ATM'"></app-userdetails>
                        <div class="row">
                            <div class="whitecard no-bg">
                                <div class="center-div">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="bg-white1">
                                                <div class="row">
                                                    <div class="col-sm-12 col-12 col-md-6">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <h2 class="text-dark">ATMs on Map</h2>
                                                            </div>
                                                        </div>
                                                        <div class="row dataRow">
                                                            <div class="col-12 col-xl-5">
                                                                <h6>Displayed ATMs on Map</h6>
                                                                <h5>All</h5>
                                                            </div>
                                                            <div class="col-12 col-xl-3">
                                                                <h6>Segment</h6>
                                                                <h5>All</h5>
                                                            </div>
                                                            <div class="col-12 col-xl-2">
                                                                <h6>From</h6>
                                                                <h5>5/14/2015</h5>
                                                            </div>
                                                            <div class="col-12 col-xl-2">
                                                                <h6>To</h6>
                                                                <h5>4/28/2016</h5>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-12">
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12 col-12 col-md-6">
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <h2 class="text-dark">Transaction Mix</h2>
                                                            </div>
                                                        </div>
                                                        <div class="row dataRow">
                                                            <div class="col-12 col-xl-5">
                                                                <h6>Transactions Per Instructions</h6>
                                                                <h5>Multiple Values</h5>
                                                            </div>
                                                            <div class="col-12 col-xl-4">
                                                                <h6>Hour Selection</h6>
                                                                <h5>All</h5>
                                                            </div>
                                                            <div class="col-12 col-xl-3">
                                                                <h6>Customer</h6>
                                                                <h5>All</h5>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="chart-box">
                                                                    <div class="chart-area3">
                                                                        <canvas id="catmATMMixTransactions" width="600" height="350"></canvas>
                                                                        <p class="text-dark mt-2">Average Interaction Duration</p>
                                                                        <div id="ctmtxnmixgradientbar" class="charttmgradientbar p-2"></div>
                                                                    </div>
                                                                    <!-- <div class="charttmgradientbar"></div> -->
                                                                </div>
                                                                <div class="legend">
                                                                    <ul class="">
                                                                        <li>
                                                                            W - Withdrawal
                                                                        </li>
                                                                        <li>
                                                                            D - Deposit
                                                                        </li>
                                                                        <li>
                                                                            I - Inquiry
                                                                        </li>
                                                                        <li>
                                                                            T - Transfer
                                                                        </li>
                                                                        <li>
                                                                            O - Other
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                              

                        </div>

                    </div>
                 
            </div>
          
    </div>

    <!--.right-col-container-->

</div>
