<nav class="global-nav">
    <div class="nav-items scrollbar">
        <div class="nav-header">
            <div class="logo-info">
                <div class="brand-logo1">
                    <img src="../assets/images/logo/kiya-logo-new.svg" alt="logo"> 
                </div>
             </div>
            <div class="user-details1">
                <a href="javascript:;" class="text-center">
                    <div class="round-circle dark-primary">
                        <!-- <h3>RS</h3>  -->
                        <img src="../assets/images/icons/user2.png" alt="user-img"> 
                    </div>
                </a>
                <div class="in-details">
                    <h5>Mr. Brian Hughes</h5>
                    <small>hughes.brian@company.com</small>
                </div>
            </div>
        </div>
        <ul class="lst-nav-items3" >
            <div class="heading-section">
               <h6>Dashboard</h6>
               <em> Unique dashboard designs</em>
            </div>
            <li>
                <a  class="glnv-dropdown">
                    <img src="../assets/images/svg/analytics.svg" alt="analytics-icon"> 
                    Analytics
                     <span class="chevron "></span>
                  </a>
                    <div class="mysubnavigation-items">
                      <ul class="lst-subnavigation">
                        <li><a >Live Trends</a></li>
                        <li><a >Customer 360</a></li>
                        <li><a >Customer Lifetime Value</a></li>
                        <li><a >Customer Risk</a></li>
                        <li><a >Cross Sell</a></li>
                        <li><a >Up Sell</a></li>
                      </ul>
                  </div>
              </li>
            <li>
                <a  class=""> 
                    <img src="../assets/images/svg/ai-ml-module.svg" alt="ai-ml-module-icon"> 
                   AI / ML Module
                </a>
            </li>
            <li>
                <a  class="">
                    <img src="../assets/images/svg/data.svg" alt="data-icon">
                  Data in Motion
                </a>
            </li>
            <li>
                <a  class="">
                    <img src="../assets/images/svg/reports.svg" alt="report-icon">
                    Reports
                </a>
            </li>
            
            <li>
                <a  class="">
                    <img src="../assets/images/svg/admin.svg" alt="admin-icon">
                    Administration
                </a>
            </li>
            <li>
                <a  class="">
                    <img src="../assets/images/svg/master.svg" alt="master-icon">
                    Master Configuration
                </a>
            </li>
            <li>
                <a  class="">
                  <img src="../assets/images/svg/user-guide.svg" alt="user-guide-icon">
                   User Guide
                </a>
            </li>
        </ul>
        <!-- <div class="nav-footer">
            <div class="bottom-logo">
                <img src="../assets/images/logo/kiya-logo-new.svg" alt="logo"> 
            </div>
         </div> -->
    </div>
</nav>

<div class="nav-overlay"></div>