 <!-- Start Global Nav -->

 <nav class="global-nav">
    <div class="nav-items scrollbar">
        <div class="nav-header">
            <div class="logo-info">
                <div class="brand-logo1">
                    <img src="assets/images/logo/kiya-logo-new.svg" alt="logo"> 
                </div>
             </div>
            <!-- <div class="user-details1">
                <a href="javascript:;" class="text-center">
                    <div class="round-circle dark-primary">
                        <h3>RS</h3> 
                        <img src="assets/images/icons/user2.png" alt="user-img"> 
                    </div>
                </a>
                <div class="in-details">
                    <h5>Mr. Brian Hughes</h5>
                    <small>hughes.brian@company.com</small>
                </div>
            </div> -->
        </div>
        <ul class="lst-nav-items3" >
            <!-- <div class="heading-section">
               <h6>Dashboard</h6>
               <em> Unique dashboard designs</em>
            </div> -->
            <li>
                <a  class="active">
                    <img src="assets/images/svg/dashboard-interface.svg" alt="dashboard-icon">
                   Dashboard
                </a>
            </li>
            <li>
                <a  class="glnv-dropdown">
                    <img src="assets/images/svg/analytics.svg" alt="analytics-icon"> 
                    Analytics
                     <span class="chevron "></span>
                  </a>
                    <div class="mysubnavigation-items">
                      <ul class="lst-subnavigation">
                        <li>
                           <a  class="glnv-dropdown2">Customer Analysis <span class="chevron"></span></a> 
                            <div class="mysubnavigation-items sub-menu">
                                <ul class="lst-subnavigation2">
                                    <li><a  title="Corporate Customer Analysis">Corporate Customer Analysis</a></li>
                                    <li><a  title="Individual Customer Analysis">Individual Customer Analysis</a></li>
                                    <li><a  title="Customer 360">Customer 360</a></li>
                                    <li><a  title="Cross Sell">Cross Sell</a></li>
                                    <li><a  title="Up Sell">Up Sell</a></li>
                                    <li><a  title="Customer Risk">Customer Risk</a></li>
                                    <li><a  title="Transaction Analysis Dashboard">Transaction Analysis Dashboard</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a  class="glnv-dropdown2">Debt Analysis <span class="chevron"></span></a> 
                             <div class="mysubnavigation-items sub-menu">
                                 <ul class="lst-subnavigation2">
                                     <li><a  title="Loan Forecasting">Loan Forecasting</a></li>
                                     <li><a  title="Sanction & Maturity Analysis">Sanction & Maturity Analysis</a></li>
                                     <li><a  title="Geogriphical Loan Distribution">Geogriphical Loan Distribution</a></li>
                                  </ul>
                              </div>
                         </li>
                         <li>
                             <a class="glnv-dropdown2">Digital Transaction <span class="chevron"></span></a> 
                              <div class="mysubnavigation-items sub-menu">
                                  <ul class="lst-subnavigation2">
                                      <li><a  title="ATM Analysis">ATM Analysis</a></li>
                                      <li><a  title="Omni Channel Transaction Summary">Omni Channel Transaction Summary</a></li>
                                      <li><a  title="Hourly Mobile App Transaction Analysis">Hourly Mobile App Transaction Analysis</a></li>
                                      <li><a  title="Mobile App Transaction Market Share">Mobile App Transaction Market Share</a></li>
                                      <li><a  title="Mobile App Peak Volume Analysis">Mobile App Peak Volume Analysis</a></li>
                                      <li><a  title="Real Time Mobile App Transaction Analysis">Real Time Mobile App Transaction Analysis</a></li>
                                      <li><a  title="Mobile App Transaction Analysis">Mobile App Transaction Analysis</a></li>
                                   </ul>
                               </div>
                          </li>
                          <li>
                             <a  class="glnv-dropdown2">Feedback Analysis <span class="chevron"></span></a> 
                              <div class="mysubnavigation-items sub-menu">
                                  <ul class="lst-subnavigation2">
                                      <li><a  title="Bot Analysis">Bot Analysis</a></li>
                                      <li><a  title="Survey/Feedback Analysis">Survey/Feedback Analysis</a></li>
                                  </ul>
                               </div>
                          </li>
                          <li>
                            <a  class="glnv-dropdown2">Decision Analysis <span class="chevron"></span></a> 
                             <div class="mysubnavigation-items sub-menu">
                                <ul class="lst-subnavigation2">
                                    <li> <a  title="Funds Investment">Funds Investment </a> </li>
                                    <li> <a  title="ATM Management">ATM Management </a> </li>
                                    <li> <a  title="Reward Points Recommendation">Reward Points Recommendation</a> </li>
                                  </ul>
                              </div>
                         </li>
                         <li>
                            <a  class="glnv-dropdown2">What If Analysis <span class="chevron"></span></a> 
                             <div class="mysubnavigation-items sub-menu">
                                <ul class="lst-subnavigation2">
                                    <li><a  title="Rate of Interest Deviation">Rate of Interest Deviation</a> </li>
                                  </ul>
                              </div>
                         </li>
                       </ul>
                  </div>
              </li>
              <li>
                <a  class=""> 
                    <img src="assets/images/svg/ai-ml-module.svg" alt="ai-ml-module-icon"> 
                   AI / ML Module
                </a>
            </li>
            <li>
                <a  class="">
                    <img src="assets/images/svg/data.svg" alt="data-icon">
                  Data in Motion
                </a>
            </li>
            <li>
                <a class="">
                    <img src="assets/images/svg/reports.svg" alt="report-icon">
                    Reports
                </a>
            </li>
            
            <li>
                <a  class="">
                    <img src="assets/images/svg/admin.svg" alt="admin-icon">
                    Administration
                </a>
            </li>
            <li>
                <a  class="">
                    <img src="assets/images/svg/master.svg" alt="master-icon">
                    Master Configuration
                </a>
            </li>
            <li>
                <a class="">
                  <img src="assets/images/svg/user-guide.svg" alt="user-guide-icon">
                   User Guide
                </a>
            </li>
         </ul>
        <!-- <div class="nav-footer">
            <div class="bottom-logo">
                <img src="assets/images/logo/kiya-logo-new.svg" alt="logo"> 
            </div>
         </div> -->
    </div>
</nav>

<div class="nav-overlay"></div>

<!-- End Global Nav -->