 <!-- Start Global Nav -->

 <nav class="global-nav">
    <div class="nav-items scrollbar">
        <div class="nav-header">
            <div class="logo-info">
                <div class="brand-logo1">
                    <img src="assets/images/logo/kiya-logo-new.svg" alt="logo"> 
                </div>
             </div>
        </div>
        <ul class="lst-nav-items3">            
            <li *ngFor="let menu of mainMenuList;let i=index">
                <a [ngClass]="menu?.subMenu.length > 0 ? 'glnv-dropdown' : menu.route == isSelectedRoute ? 'active':'' " (click)="goToPage(menu.route)">
                    <img src="assets/images/svg/{{menu.icon}}" alt="{{menu.icon}}-icon"> 
                    {{menu.menuName}}
                    <span class="chevron" *ngIf="menu.subMenu.length > 0"></span>
                </a>
                <div *ngIf="menu?.subMenu.length > 0" class="mysubnavigation-items">
                    <ul class="lst-subnavigation">
                    <li *ngFor="let subMenu of menu.subMenu;let i=index">
                        <a  class="glnv-dropdown2" (click)="goToPage(subMenu.route)">{{subMenu.menuName}} <span class="chevron"></span></a> 
                        <div class="mysubnavigation-items sub-menu">
                            <ul class="lst-subnavigation2">
                                <li *ngFor="let subSubMenu of subMenu.subSubMenu;let i=index"><a title="{{subSubMenu.menuName}}" (click)="goToPage(subSubMenu.route)">{{subSubMenu.menuName}}</a></li>                                   
                            </ul>
                        </div>
                    </li>                        
                    </ul>
                </div>
            </li> 
        </ul>
    </div>
</nav>

<div class="nav-overlay"></div>

<!-- End Global Nav -->