<!--  Right Main Column Section Start -->

<div class="right-main-column">
    <div class="right-col-container pad-b">

        <div class="body-page-container">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <app-userdetails></app-userdetails>
                        <div class="row">
                            <div class="whitecard no-bg">
                                <div class="center-div">
                                    <div class="row">

                                        <div class="col-sm-6 col-12 col-md-6">
                                            <div class="bg-white1 dark-bg">
                                                <div class="row mb-4">
                                                    <div class="col-12">
                                                        <h2 class="light-text">Customer Transaction Volume</h2>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="chart-box">
                                                            <div class="chart-area">
                                                                <!-- <canvas id="cposCustTxnVolume" width="600" height="400"></canvas> -->
                                                                <div id="cposCustTxnVolume" class="chart-bubble"></div>
                                                            </div>

                                                            <div class="legends-inline">
                                                                <ul>
                                                                    <li>
                                                                        <span class="save-acc"></span>
                                                                        <em>Departmental Store</em>
                                                                    </li>
                                                                    <li>
                                                                        <span class="cre-dep"></span>
                                                                        <em>Hardware Store</em>
                                                                    </li>
                                                                    <li>
                                                                        <span class="term-dep"></span>
                                                                        <em>Grocery</em>
                                                                    </li>
                                                                    <li>
                                                                        <span class="cash-cre "></span>
                                                                        <em>Sporting Goods</em>
                                                                    </li>
                                                                    <li>
                                                                        <span class="loans"></span>
                                                                        <em>Vehical Retailers</em>
                                                                    </li>
                                                                    <li>
                                                                        <span class="gold-loan"></span>
                                                                        <em>Electronics</em>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6 col-12 col-md-6">
                                            <div class="bg-white1 dark-bg">
                                                <div class="row mb-4">
                                                    <div class="col-sm-12 col-12 col-md-12">
                                                        <h2 class="light-text">Customer Transaction Value
                                                        </h2>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="chart-box">
                                                            <div class="chart-area">
                                                                <!-- <canvas id="cposCustTxnValue" width="600" height="400"></canvas> -->
                                                                <div id="cposCustTxnValue" class="chart-bubble"></div>
                                                            </div>

                                                            <div class="legends-inline">
                                                                <ul>
                                                                    <li>
                                                                        <span class="save-acc"></span>
                                                                        <em>Departmental Store</em>
                                                                    </li>
                                                                    <li>
                                                                        <span class="cre-dep"></span>
                                                                        <em>Hardware Store</em>
                                                                    </li>
                                                                    <li>
                                                                        <span class="term-dep"></span>
                                                                        <em>Grocery</em>
                                                                    </li>
                                                                    <li>
                                                                        <span class="cash-cre "></span>
                                                                        <em>Sporting Goods</em>
                                                                    </li>
                                                                    <li>
                                                                        <span class="loans"></span>
                                                                        <em>Vehical Retailers</em>
                                                                    </li>
                                                                    <li>
                                                                        <span class="gold-loan"></span>
                                                                        <em>Electronics</em>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>

        </div>

    </div>

    <!--.right-col-container-->

</div>

<!--.right-main-column-->