<div class="right-main-column">
    <div class="right-col-container pad-b">

        <div class="body-page-container">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 p-0">
                                <div class="breadcrumb">
                                    <ul class="lst-breadcrumb">
                                        <li>
                                            Notification engine
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="whitecard no-bg">
                                <div class="center-div mt-4">
                                    <div class='tableauPlaceholder'
                                        style='width: 1300px; height: 785px;  margin: 0 auto'>
                                        <iframe frameborder="0" marginheight="0" marginwidth="0"
                                            title="Data Visualization" allowtransparency="true" allowfullscreen="true"
                                            class="tableauViz" width="1300" height="785"
                                            style="display: block; margin: 0px; padding: 0px; border: none; width: 1300px; height: 785px;"
                                            src="https://analytics.infrasofttech.com/t/Bank_Brain/views/CorporateCustomerAnalysis/IndividualCustomerAnalysis?:embed=y&amp;:showVizHome=no&amp;:host_url=https%3A%2F%2Fanalytics.infrasofttech.com%2F&amp;:embed_code_version=3&amp;:tabs=no&amp;:toolbar=no&amp;:showAppBanner=false&amp;:display_spinner=no&amp;:loadOrderID=0"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>

    </div>

    <!--.right-col-container-->

</div>