<!--  Right Main Column Section Start -->

<div class="right-main-column">
    <div class="right-col-container pad-b">

        <div class="body-page-container">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <app-userdetails></app-userdetails>
                        <div class="row">
                            <div class="whitecard no-bg">
                                <div class="center-div">
                                    <div class="row">

                                        <div class="col-sm-12 col-12 col-md-12">
                                            <div class="bg-white1 dark-bg">
                                                <div class="row mb-4">
                                                    <div class="col-12">
                                                        <h2 class="light-text">Card Transaction Volume</h2>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12 col-md-8 m-auto">
                                                        <div class="chart-box">
                                                            <div class="chart-area">
                                                                <canvas id="cposCardTxnVol" width="600"
                                                                    height="400"></canvas>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 col-12 col-md-12">
                                            <div class="bg-white1 dark-bg">
                                                <div class="row mb-4">
                                                    <div class="col-sm-12 col-12 col-md-12">
                                                        <h2 class="light-text">Transactions by $Amount
                                                        </h2>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12 col-md-8 m-auto">
                                                        <div class="chart-box">
                                                            <div class="chart-area">
                                                                <canvas id="cposTxnByAmount" width="600"
                                                                    height="400"></canvas>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 col-12 col-md-12">
                                            <div class="bg-white1 dark-bg">
                                                <div class="row mb-4">
                                                    <div class="col-sm-12 col-12 col-md-12">
                                                        <h2 class="light-text">Average Transactions Amount
                                                        </h2>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12 col-md-8 m-auto">
                                                        <div class="chart-box">
                                                            <div class="chart-area">
                                                                <canvas id="cposAvgTxnAmount" width="600"
                                                                    height="400"></canvas>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12 col-12 col-md-12">
                                            <div class="bg-white1 dark-bg">
                                                <div class="row mb-4">
                                                    <div class="col-sm-12 col-12 col-md-12">
                                                        <h2 class="light-text">Card Type Usage
                                                        </h2>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12 col-md-8 m-auto">
                                                        <div class="chart-box">
                                                            <div class="chart-area">
                                                                <canvas id="cposCardTypeUsage" width="600"
                                                                    height="400"></canvas>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>

        </div>

    </div>

    <!--.right-col-container-->

</div>

<!--.right-main-column-->