
    <!-- Web header Section Start -->

    <header class="global-header">
        <div class="desk-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-2 col-2">
                        <div class="header-actions">
                            <button class="ux-button-header menu-btn">
                                <img src="assets/images/svg/menu.svg" alt="menu-icon">
                            </button>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-10 col-10">
                        <div class="header-items">
                            <ul class="header-list-info">
                                <li style="position:relative;">
                                    <a  class="flag-change-btn">
                                       <div class="icon">
                                             <img src="assets/images/svg/united-states.svg" alt="flag-icon" (click)="flag = !flag">
                                       </div>
                                    </a>
                                    <div class="flag-dropdown" [ngClass]="flag ? 'dp-showing': ' '">
                                        <ul class="lst-info">
                                            <li>
                                                <a  class="common-action profile-btn">
                                                    <img src="assets/images/svg/united-states.svg" alt="united-states-flag-icon">US 
                                                </a>
                                            </li>
                                            <li>
                                                <a  class="common-action  setting-btn">
                                                    <img src="assets/images/svg/united-kingdom.svg" alt="united-kingdom-flag-icon">UK
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="hide-m">
                                    <a  id="toggle-btn" class="active" data-toggle="tooltip" data-placement="top" title="Toogle Fullscreen" (click)="toggleFullscreen()">
                                        <div class="icon">
                                            <img src="assets/images/svg/full-screen.svg" alt="full-screen-icon">
                                       </div>
                                    </a>
                                </li>
                                <li>
                                    <a class="search-btn">
                                        <div class="icon">
                                            <img src="assets/images/svg/search.svg" alt="search-icon">
                                       </div>
                                    </a>
                                </li>
                                <!-- <li>
                                    <a >
                                        <div class="icon">
                                            <img src="assets/images/svg/bookmark.svg" alt="bookmark-icon">
                                       </div>
                                    </a>
                                </li> -->
                                <!-- <li>
                                    <a >
                                        <div class="icon">
                                            <img src="assets/images/svg/email.svg" alt="email-icon">
                                       </div>
                                    </a>
                                </li> -->
                                <li>
                                    <a class="notification-btn"  data-toggle="tooltip" data-placement="top" title="Notifications">
                                        <div class="icon">
                                            <img src="assets/images/svg/bell.svg" alt="bell-icon">
                                            <span class="overlap-dot">
                                                3
                                            </span>
                                       </div>
                                    </a>
                                </li>
                                <li>
                                    <a  class="item-user">
                                        <div class="icon">
                                            <img src="assets/images/svg/user2.svg" alt="user-icon" (click)="userProfile = !userProfile">
                                       </div>
                                    </a>
                                    <div class="bm-userprofile" [ngClass]="userProfile ? 'dp-showing': ' '">
                                        <ul class="lst-userprofile">
                                            <li>
                                                <div class="userprofile-container">
                                                    <div class="row">
                                                        <div class="col-12 col-md-12">
                                                            <em>Signed in as</em>
                                                            <span>Mr. Brian Hughes</span>
                                                            <em>Last login <i>12 Jan 2022,</i><b>16:25</b></em>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <a  class="common-action profile-btn">
                                                    <img src="assets/images/svg/user2.svg" alt="user-icon"> Profile 
                                                </a>
                                            </li>
                                            <li>
                                                <a  class="common-action setting-btn">
                                                   <img src="assets/images/svg/setting-d.svg" alt="setting-icon"> Setting 
                                                </a>
                                            </li>
                                            <li>
                                                <a  class="common-action border-t logout-btn">
                                                    <img src="assets/images/svg/exit.svg" alt="logout-icon"> Sign Out 
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                             </ul>
                             
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

<!-- Web header Section End -->

<!-- Search Box Start -->

<div class="search-container">
    <div class="search-inner-section">
        <div class="search-input">
            <div class="row">
                <div class="col-sm-12 col-12 col-md-12">
                    <div class="custom-search-input ux-input">
                        <input type="text" name="search" placeholder="Search here..." required>
                        <span class="show-search2"></span>
                        <a href="#" class="cross-btn">
                            <div class="icon">
                                <img src="assets/images/svg/cross-mark.svg" alt="close-icon">
                           </div>
                        </a>
                        <p class="error-message"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="search-list-section">
            <ul class="enquiry-list">
                <li>
                    <div class="full-container">
                        <div class="row">
                            <div class="col-12  col-md-12">
                                <div class="left-info1">
                                    <h5>Request for Cheque Book</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="full-container">
                        <div class="row">
                            <div class="col-12  col-md-12">
                                <div class="left-info1">
                                    <h5>Request for Stop Payment</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="full-container">
                        <div class="row">
                            <div class="col-12  col-md-12">
                                <div class="left-info1">
                                    <h5>Revoke Stop Payment</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="full-container">
                        <div class="row">
                            <div class="col-12  col-md-12">
                                <div class="left-info1">
                                    <h5>Cheque Status Enquiry</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="full-container">
                        <div class="row">
                            <div class="col-12  col-md-12">
                                <div class="left-info1">
                                    <h5>Request for Cheque Book</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="full-container">
                        <div class="row">
                            <div class="col-12  col-md-12">
                                <div class="left-info1">
                                    <h5>Open New Time Deposit Account</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="full-container">
                        <div class="row">
                            <div class="col-12  col-md-12">
                                <div class="left-info1">
                                    <h5>Closure of MMDC/RD/FD</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="full-container">
                        <div class="row">
                            <div class="col-12  col-md-12">
                                <div class="left-info1">
                                    <h5>NEFT Enquiry</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="full-container">
                        <div class="row">
                            <div class="col-12  col-md-12">
                                <div class="left-info1">
                                    <h5>IMPS Enquiry</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="full-container">
                        <div class="row">
                            <div class="col-12  col-md-12">
                                <div class="left-info1">
                                    <h5>Submit Feedback</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="search-overlay"></div>

<!-- Search Box End -->