<div class="right-main-column">
    <div class="right-col-container pad-b">

        <div class="body-page-container">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <app-userdetails [item]="'ATM'"></app-userdetails>

                        <div class="row">
                            <div class="whitecard no-bg">
                                <div class="center-div">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="bg-white1 dark-bg mt-3">
                                                <div class="row">
                                                    <div class="col-12 col-xl-3 col-md-3 col-sm-6">
                                                        <div class="white-input ux-input">
                                                            <label>Get center point by</label>
                                                            <select>
                                                                <option>select</option>
                                                                <option selected="">All</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-xl-3 col-md-3 col-sm-6">
                                                        <div class="white-input ux-input">
                                                            <label>ATM Selector</label>
                                                            <select>
                                                                <option>select</option>
                                                                <option selected="">All</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-xl-3 col-md-3 col-sm-6">
                                                        <div class="white-input ux-input">
                                                            <label>From</label>
                                                            <input type="text" class="datepicker1 hasDatepicker"
                                                                placeholder="DD/MM/YYYY" value="12/04/2015"
                                                                id="dp1667208047725">
                                                            <em class=" calendar-ic cal-top "></em>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-xl-3 col-md-3 col-sm-6">
                                                        <div class="white-input ux-input">
                                                            <label>To</label>
                                                            <input type="text" class="datepicker1 hasDatepicker"
                                                                placeholder="DD/MM/YYYY" value="03/10/2017"
                                                                id="dp1667208047726">
                                                            <em class=" calendar-ic cal-top "></em>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12 col-xl-3 col-md-3 col-sm-6">
                                                        <div class="white-input ux-input">
                                                            <label>Latitude</label>
                                                            <input type="text" placeholder="00.0000">
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-xl-3 col-md-3 col-sm-6">
                                                        <div class="white-input ux-input">
                                                            <label>Longitude</label>
                                                            <input type="text" placeholder="00.0000">
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-xl-3 col-md-3 col-sm-6">
                                                        <div class="white-input ux-input">
                                                            <label>Radius of interest</label>
                                                            <input type="text" placeholder="5">
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-xl-3 col-md-3 col-sm-6">
                                                        <div class="white-input ux-input">
                                                            <label>ATM Group</label>
                                                            <select>
                                                                <option>select</option>
                                                                <option selected="">Operations
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 mt-3">
                                            <div class="bg-white1">

                                                <div class="chart-box">
                                                    <div class="chart-area3">
                                                        <canvas id="catmATMMixTransactions02" width="757" height="440"
                                                            style="display: block; box-sizing: border-box; height: 440px; width: 757px;"></canvas>
                                                        <p class="text-dark mt-2">2016 Population</p>
                                                        <div id="ctmtxnmixgradientbar" class="charttmgradientbar p-2"
                                                            style="background: linear-gradient(90deg,#d8ffff, #6da2b3);">
                                                        </div>
                                                    </div>
                                                    <!-- <div class="charttmgradientbar"></div> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="whitecard no-bg">
                                            <div class="center-div">
                                                <div class="bg-white1 dark-bg">
                                                    <div class="row mb-4">
                                                        <div class="col-6">
                                                            <h2 class="light-text">Transaction Volume</h2>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="chart-box">
                                                                <div class="chart-area">
                                                                    <canvas id="atmPlacementTransactionVol" width="757"
                                                                        height="378"
                                                                        style="display: block; box-sizing: border-box; height: 378px; width: 757px;"></canvas>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="whitecard no-bg">
                                            <div class="center-div mt-4">
                                                <div class="bg-white1 dark-bg">
                                                    <div class="row mb-4">
                                                        <div class="col-12">
                                                            <h2 class="light-text">Number of Queues with Specified Queue
                                                                Length</h2>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="chart-box">
                                                                <div class="chart-area">
                                                                    <canvas id="Noq1" width="757" height="378"
                                                                        style="display: block; box-sizing: border-box; height: 378px; width: 757px;"></canvas>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <p class="text-white">Avg Queues length</p>

                                                            <div id="ctmtxnmixgradientbar01"
                                                                class="charttmgradientbar p-2"
                                                                style="background:linear-gradient(90deg, #dc3545, #f5b0b7);">
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="bg-white1 dark-bg">
                                                <h2 class="light-text mb-2">Transaction (June 2015 - March 2016)</h2>
                                                <table>
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th></th>
                                                            <th></th>
                                                            <th scope="col">Total</th>
                                                            <th scope="col">On us</th>
                                                            <th scope="col">On Pa..</th>
                                                            <th scope="col">OffUs</th>
                                                            <th scope="col">% of Withdraw</th>
                                                            <th scope="col">% of decaline</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>INETCO Bank</td>
                                                            <td>Abernative Towers</td>
                                                            <td scope="row">TERM0990</td>
                                                            <td>1,000</td>
                                                            <td>1,120</td>
                                                            <td>360</td>
                                                            <td>308</td>
                                                            <td>89.88%</td>
                                                            <td>0.00%</td>
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td>Abernative Towers</td>
                                                            <td scope="row">TERM0990</td>
                                                            <td>9,990</td>
                                                            <td>3,120</td>
                                                            <td>360</td>
                                                            <td>608</td>
                                                            <td>19.88%</td>
                                                            <td>12.00%</td>
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td>Blue ridgec community</td>
                                                            <td scope="row">TERM0990</td>
                                                            <td>8,000</td>
                                                            <td>1,120</td>
                                                            <td>260</td>
                                                            <td>208</td>
                                                            <td>49.88%</td>
                                                            <td>34.00%</td>
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td>Branan Towers</td>
                                                            <td scope="row">TERM0990</td>
                                                            <td>9,000</td>
                                                            <td>8,120</td>
                                                            <td>360</td>
                                                            <td>608</td>
                                                            <td>89.88%</td>
                                                            <td>0.00%</td>
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td>Cartrent college</td>
                                                            <td scope="row">TERM0990</td>
                                                            <td>1,000</td>
                                                            <td>4,120</td>
                                                            <td>60</td>
                                                            <td>60</td>
                                                            <td>81.88%</td>
                                                            <td>22.00%</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <div class="col-12">
                                                    <div class="cachartdatatable">
                                                        <table class=" data1">
                                                            <tbody>
                                                                <tr>
                                                                    <th></th>
                                                                    <th></th>
                                                                    <th></th>
                                                                    <th><em>Total</em></th>
                                                                    <th><em>On us</em></th>
                                                                    <th><em>On Pa..</em></th>
                                                                    <th><em>OffUs</em></th>
                                                                    <th><em>% of Withdraw</em></th>
                                                                    <th><em>% of decaline</em></th>
                                                                </tr>
                                                                <tr>
                                                                    <td><em>INETCO Bank</em></td>
                                                                    <td><em>Abernative Towers</em></td>
                                                                    <td scope="row"><em>TERM0590</em></td>
                                                                    <td><em>1,000</em></td>
                                                                    <td><em>1,120</em></td>
                                                                    <td><em>360</em></td>
                                                                    <td><em>308</em></td>
                                                                    <td><em>89.88%</em></td>
                                                                    <td><em>0.00%</em></td>
                                                                </tr>
                                                                <tr>
                                                                    <td><em></em></td>
                                                                    <td><em>Abernative Towers</em></td>
                                                                    <td scope="row"><em>TERM0490</em></td>
                                                                    <td><em>1,000</em></td>
                                                                    <td><em>1,120</em></td>
                                                                    <td><em>360</em></td>
                                                                    <td><em>308</em></td>
                                                                    <td><em>89.88%</em></td>
                                                                    <td><em>0.00%</em></td>
                                                                </tr>
                                                                <tr>
                                                                    <td><em></em></td>
                                                                    <td><em>Blue ridgec community</em></td>
                                                                    <td scope="row"><em>TERM0993</em></td>
                                                                    <td><em>1,000</em></td>
                                                                    <td><em>1,120</em></td>
                                                                    <td><em>60</em></td>
                                                                    <td><em>08</em></td>
                                                                    <td><em>8.88%</em></td>
                                                                    <td><em>0.00%</em></td>
                                                                </tr>
                                                                <tr>
                                                                    <td><em></em></td>
                                                                    <td><em>Branan Towers</em></td>
                                                                    <td scope="row"><em>TERM0992</em></td>
                                                                    <td><em>12000</em></td>
                                                                    <td><em>1220</em></td>
                                                                    <td><em>60</em></td>
                                                                    <td><em>38</em></td>
                                                                    <td><em>29.88%</em></td>
                                                                    <td><em>20.00%</em></td>
                                                                </tr>
                                                                <tr>
                                                                    <td><em></em></td>
                                                                    <td><em>Cartrent college</em></td>
                                                                    <td scope="row"><em>TERM0991</em></td>
                                                                    <td><em>1,200</em></td>
                                                                    <td><em>3,120</em></td>
                                                                    <td><em>30</em></td>
                                                                    <td><em>308</em></td>
                                                                    <td><em>29.88%</em></td>
                                                                    <td><em>20.00%</em></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="bg-white1 ">
                                                <div class="chart-area3">
                                                    <canvas id="catmATMMixTransactions03" width="757" height="440"
                                                        style="display: block; box-sizing: border-box; height: 440px; width: 757px;"></canvas>
                                                    <p class="text-dark mt-2">% Engaged Customers</p>
                                                    <div id="ctmtxnmixgradientbar03" class="charttmgradientbar p-2"
                                                        style="background: linear-gradient(90deg, rgb(108, 196, 161), rgb(18, 106, 71));">
                                                    </div>
                                                </div>
                                                <h2 class="dark-text">Customer Density</h2>
                                            
                                                        <div class="col-12">
                                                            <div class="cachartdatatable">
                                                                <table class="data1">
                                                                    <tbody>
                                                                        <tr>
                                                                            <th><em>Zip code </em></th>
                                                                            <th><em>Engaged</em></th>
                                                                            <th><em>% Engaged</em></th>
                                                                            <th><em>Total</em></th>
                                                                            <th><em>YoY%</em></th>
                                                                        </tr>
                                                                        <tr>
                                                                            <td><em>300303</em></td>
                                                                            <td><em>1,300</em></td>
                                                                            <td scope="row"><em>16.5% </em></td>
                                                                            <td><em>8,120 </em></td>
                                                                            <td><em>5%
                                                                                </em></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td><em>300203</em></td>
                                                                            <td><em>1,330</em></td>
                                                                            <td scope="row"><em>36.5% </em></td>
                                                                            <td><em>8,10 </em></td>
                                                                            <td><em>5%
                                                                                </em></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td><em>320303</em></td>
                                                                            <td><em>1,500</em></td>
                                                                            <td scope="row"><em>56.5% </em></td>
                                                                            <td><em>8,320 </em></td>
                                                                            <td><em>5%
                                                                                </em></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <!--.right-col-container-->

        </div>
    </div>
</div>