<!-- Notificaion Pannel Start --> 

<div class="notification-pannel">
    <div class="nf-header">
        <h6>
            <button class="close-pannel iocn-btn">
                <img src="../assets/images/svg/cross-mark-w.svg" alt="cross-icon">
            </button>
            Notifications 
        </h6>
        <button class="iocn-btn">
            <img src="../assets/images/svg/mail.svg" alt="notification-icon">
        </button>
    </div>
 
    <div class="nf-content">
        <div class="alert-list">

          <div class="alert-data">
             <div class="full-container">
                <div class="left-info">
                    <div class="icon-info"> 
                        <span class="green">
                            <img src="../assets/images/svg/star.svg" alt="star-icon">
                          </span>
                       </div>
                          <h5>Daily challenges</h5> 
                          <h6>Your submission has been accepted</h6>
                          <em>Aug 12, 5:17 PM </em>
                    </div>
                    <div class="right-info">
                      <div>
                            <button class="mark-btn" data-toggle="tooltip" data-placement="top" title="Mark as read"> 
                                 <span class="mark-dot"></span>
                            </button>
                      </div>  
                    <div>
                        <button class="remove-btn" data-toggle="tooltip" data-placement="top" title="remove"> 
                            <img src="../assets/images/svg/close.svg" alt="cross-mark-icon">
                        </button>
                     </div> 
                 </div>
              </div>
            </div>
         <div class="alert-data">
                <div class="full-container">
                   <div class="left-info">
                       <div class="icon-info"> 
                           <span class="green">
                               <img src="../assets/images/svg/mail2.svg" alt="mail-icon">
                             </span>
                          </div>
                             <h5>Mailbox</h5> 
                             <h6>You have 3 new mails</h6>
                             <em>Aug 15, 5:17 PM </em>
                       </div>
                     <div class="right-info">
                        <div>
                            <button class="mark-btn" data-toggle="tooltip" data-placement="top" title="Mark as read"> 
                                 <span class="mark-dot"></span>
                            </button>
                      </div>  
                        <div>
                            <button class="remove-btn" data-toggle="tooltip" data-placement="top" title="remove"> 
                                <img src="../assets/images/svg/close.svg" alt="cross-mark-icon">
                            </button>
                        </div> 
                    </div>
                 </div>
               </div>
            <div class="alert-data">
                <div class="full-container">
                   <div class="left-info">
                       <div class="icon-info"> 
                           <span class="green">
                               <img src="../assets/images/svg/star.svg" alt="star-icon">
                             </span>
                          </div>
                             <h5>Daily challenges</h5> 
                             <h6>Your submission has been accepted</h6>
                             <em>Aug 12, 5:17 PM </em>
                       </div>
                     <div class="right-info">
                        <div>
                            <button class="mark-btn" data-toggle="tooltip" data-placement="top" title="Mark as read"> 
                                 <span class="mark-dot"></span>
                            </button>
                      </div>  
                     <div>
                        <button class="remove-btn" data-toggle="tooltip" data-placement="top" title="remove"> 
                            <img src="../assets/images/svg/close.svg" alt="cross-mark-icon">
                        </button>
                     </div> 
                    </div>
                 </div>
               </div>
            <div class="alert-data">
                <div class="full-container">
                   <div class="left-info">
                       <div class="icon-info"> 
                           <span class="green">
                               <img src="../assets/images/svg/star.svg" alt="star-icon">
                             </span>
                          </div>
                             <h5>Daily challenges</h5> 
                             <h6>Your submission has been accepted</h6>
                             <em>Aug 12, 5:17 PM </em>
                       </div>
                    <div class="right-info">
                        <div>
                            <button class="mark-btn" data-toggle="tooltip" data-placement="top" title="Mark as read"> 
                                 <span class="mark-dot"></span>
                            </button>
                      </div>  
                     <div>
                        <button class="remove-btn" data-toggle="tooltip" data-placement="top" title="remove"> 
                            <img src="../assets/images/svg/close.svg" alt="cross-mark-icon">
                        </button>
                     </div>  
                    </div>
                 </div>
               </div>
             <div class="alert-data">
                <div class="full-container">
                   <div class="left-info">
                       <div class="icon-info"> 
                           <span class="green">
                               <img src="../assets/images/svg/star.svg" alt="star-icon">
                             </span>
                          </div>
                             <h5>Daily challenges</h5> 
                             <h6>Your submission has been accepted</h6>
                             <em>Aug 12, 5:17 PM </em>
                       </div>
                     <div class="right-info">
                        <div>
                            <button class="mark-btn" data-toggle="tooltip" data-placement="top" title="Mark as read"> 
                                 <span class="mark-dot"></span>
                            </button>
                      </div>  
                     <div>
                        <button class="remove-btn" data-toggle="tooltip" data-placement="top" title="remove"> 
                            <img src="../assets/images/svg/close.svg" alt="cross-mark-icon">
                        </button>
                      </div> 
                    </div>
                 </div>
             </div>
          </div>
      </div>
 </div>
 
<!-- Notificaion Pannel End --> 