
<div class="row">
    <div class="whitecard">

         <div class="center-div">
             

           </div>

           <div class="row mb-2">
            <div class="slide-text">
                <marquee>
                    <div class="row" >
                        <ul class="marquee-list">
                            <li>
                                <em>Top Payee App</em>
                            </li>
                            <li>
                                <em>Google Pay 29.66 % <img src="assets/images/svg/go-up1.svg" alt="icon"> </em>
                            </li>
                            <li>
                                <em>BHIM YES Pay 39.72 % <img src="assets/images/svg/go-down.svg" alt="icon"> </em>
                            </li>
                            <li>
                                <em>Other Payee Apps 45.22 %  <img src="assets/images/svg/go-down.svg" alt="icon"> </em>
                            </li>
                        </ul>
                    </div>
                </marquee>
            </div>
         </div>
                
               <div class="center-div">
                <div class="row">
                   <div class="col-12 col-md-12">
                    <div class="language-bar"  *ngFor="let menu of mainMenuList" [ngClass]="menu.menuName==selectedMenuName?'active-bar':''">
                        <div class="lang-dropdown" >
                            <a (click)="goToPage(menu.route)" class="btn-selectlang"><em>{{menu.menuName}}</em><i *ngIf="menu?.subMenu.length > 0"></i></a>
                            <div *ngIf="menu?.subMenu.length > 0" class="language-list" style="display: none;">
                                <ul class="lst-languages">
                                    <li class="list-nh" >
                                        <ul class="dropdown-sub">
                                            <li *ngFor="let subMenu of menu.subMenu;let j=index"> <a (click)="goToPage(subMenu.route)">{{subMenu.menuName}}</a></li>
                                        </ul>
                                    </li>
                                 </ul> 
                            </div> 
                        </div> 
                    </div> 
                      <!--  <div class="language-bar active-bar">
                           <div class="lang-dropdown">
                               <a (click)="goToPage('dashboard')" class="btn-selectlang"><em>Channel Analytics</em></a>
                           </div> 
                       </div>  -->
                      <!--  <div class="language-bar">
                           <div class="lang-dropdown">
                               <a (click)="goToPage('digitalpayment')" class="btn-selectlang"><em>Digital Payments</em></a>
                           </div> 
                       </div>  -->
                       <!-- <div class="language-bar">
                           <div class="lang-dropdown">
                               <a href="javascript:;" class="btn-selectlang"><em>ATM</em><i></i></a>
                               <div class="language-list" style="display: none;">
                                   <ul class="lst-languages">
                                       <li class="list-nh">
                                           <ul class="dropdown-sub">
                                               <li> <a (click)="goToPage('atm')">Main Menu</a></li>
                                               <li> <a (click)="goToPage('atmprofile')">ATM Profile</a></li>
                                               <li> <a (click)="goToPage('atmplacement')">ATM Placement</a></li>
                                               <li> <a (click)="goToPage('atmtransaction-analysis')">ATM Transaction Analysis</a></li>
                                           </ul>
                                       </li>
                                    </ul> 
                               </div> 
                           </div> 
                       </div>  -->
                       <!-- <div class="language-bar">
                           <div class="lang-dropdown">
                               <a href="javascript:;" class="btn-selectlang"><em>POS</em><i></i></a>
                               <div class="language-list" style="display: none;">
                                   <ul class="lst-languages">
                                       <li class="list-nh">
                                           <a href="javascript:;">POS <i></i></a>
                                           <ul class="dropdown-sub">
                                               <li> <a (click)="goToPage('posmainmenu')">Main Menu</a></li>
                                               <li> <a (click)="goToPage('poscardusage')">Card Usage</a></li>
                                               <li> <a (click)="goToPage('posmerchantanalysis')">Merchant Analysis</a></li>
                                           </ul>
                                       </li>
                                    </ul> 
                               </div> 
                           </div> 
                       </div>  -->
                   </div>
                </div>
              </div> 
            </div> 
       </div> 